*
!./.gitignore
!./README.md
!/script/
!/src/
!/const/
!/sim/
!/fig/
!*.py
!*.sv
!*.xdc
!*.v
!*.json
!/src_others
!/src_others/Low-Latency_Keccak-main
!src_others/Low-Latency_Keccak-main/RTL/
src_others/Low-Latency_Keccak-main/RTL/*
!src_others/Low-Latency_Keccak-main/RTL/keccak_roundconstant.v
!src_others/Low-Latency_Keccak-main/RTL/keccak_control.v
!src_others/Low-Latency_Keccak-main/RTL/keccak_rhopi.v
!/dat
!dat/ml_kem_512.kat.little

# !*.txt
